[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:jarsa/mexico.git
	branch = 14.0
[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@git.vauxoo.com:jarsa/odoo-utilities.git
	branch = 14.0

[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:jarsa/product-attribute.git
	branch = 14.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:jarsa/partner-contact.git
	branch = 14.0

[submodule "server-tools"]
	path = server-tools
	url = git@github.com:jarsa/server-tools.git
	branch = 14.0

[submodule "server-ux"]
	path = server-ux
	url = git@github.com:jarsa/server-ux.git
	branch = 14.0

[submodule "brand"]
	path = brand
	url = git@github.com:jarsa/brand.git
	branch = 14.0

[submodule "credit-control"]
	path = credit-control
	url = git@github.com:jarsa/credit-control.git
	branch = 14.0

[submodule "bank-payment"]
	path = bank-payment
	url = git@github.com:jarsa/bank-payment.git
	branch = 14.0
